In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Udemy Courses.csv')

In [3]:
df

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments
...,...,...,...,...,...,...,...,...,...,...,...
3677,328960,Your Own Site in 45 Min: The Complete Wordpres...,True,120,1566,29,36,All Levels,4 hours,2015-04-20T22:15:17Z,Web Development
3678,552700,Your Second Course on Piano: Two Handed Playing,True,70,1018,12,22,Beginner Level,5 hours,2015-10-26T20:04:21Z,Musical Instruments
3679,631754,Zend Framework 2: Learn the PHP framework ZF2 ...,True,40,723,130,37,All Levels,6.5 hours,2015-11-11T18:55:45Z,Web Development
3680,1225194,Zoho Books Gestion Financière d'Entreprise pas...,False,Free,229,0,33,All Levels,2 hours,2017-05-26T16:45:55Z,Business Finance
3681,964478,Zombie Apocalypse Photoshop Actions,True,50,12,1,15,All Levels,1.5 hours,2016-09-26T22:19:48Z,Graphic Design

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3682 entries, 0 to 3681
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3682 non-null   int64
 1   course_title         3682 non-null   object
 2   is_paid              3682 non-null   bool
 3   price                3682 non-null   object
 4   num_subscribers      3682 non-null   int64
 5   num_reviews          3682 non-null   int64
 6   num_lectures         3682 non-null   int64
 7   level                3682 non-null   object
 8   content_duration     3682 non-null   object
 9   published_timestamp  3682 non-null   object
 10  subject              3682 non-null   object
dtypes: bool(1), int64(4), object(6)
memory usage: 291.4+ KB

In [6]:
##Splitting the published timestamp into two columns year and month

In [7]:
df['year']=df['published_timestamp'].apply(lambda x:x.split('-')[0])

In [9]:
df['month']=df['published_timestamp'].apply(lambda x:x.split('-')[1])

In [11]:
df=df.drop(['published_timestamp'],axis=1)

##Content_duration needs to be numerical value

In [23]:
df['content_duration'].value_counts()

1 hour           607
1.5 hours        507
2 hours          419
2.5 hours        269
3 hours          248
3.5 hours        182
4 hours          145
4.5 hours        113
5 hours          108
5.5 hours         94
6 hours           69
6.5 hours         61
7 hours           53
7.5 hours         48
8 hours           41
37 mins           37
8.5 hours         29
34 mins           29
32 mins           29
9 hours           28
38 mins           27
10 hours          24
40 mins           23
12.5 hours        21
10.5 hours        21
36 mins           21
41 mins           20
42 mins           20
35 mins           18
44 mins           18
11 hours          18
31 mins           18
9.5 hours         17
12 hours          17
43 mins           16
13 hours          16
33 mins           16
30 mins           15
11.5 hours        15
39 mins           14
14.5 hours        12
14 hours          11
20.5 hours         9
15.5 hours         9
13.5 hours         9
17.5 hours         9
18.5 hours         8
19.5 hours         7
16.5 hours         7
16 hours           7
31.5 hours         6
20 hours           5
22.5 hours         4
15 hours           4
18 hours           4
24.5 hours         4
24 hours           3
26 hours           3
17 hours           3
32.5 hours         3
25.5 hours         3
19 hours           3
29.5 hours         2
25 hours           2
23 hours           2
45 hours           2
22 hours           2
33 hours           2
62 hours           2
30.5 hours         2
30 hours           2
44.5 hours         2
21 hours           2
24 questions       1
0                  1
23.5 hours         1
82 questions       1
218 questions      1
18 questions       1
66.5 hours         1
78.5 hours         1
21.5 hours         1
51 hours           1
76.5 hours         1
42 hours           1
43 hours           1
70 hours           1
26.5 hours         1
28.5 hours         1
43.5 hours         1
46.5 hours         1
68.5 hours         1
19 mins            1
48.5 hours         1
60 hours           1
27.5 hours         1
29 hours           1
57 hours           1
39 hours           1
34 hours           1
37.5 hours         1
71.5 hours         1
47 hours           1
38 hours           1
8 mins             1
31 hours           1
27 mins            1
29 mins            1
28 mins            1
Name: content_duration, dtype: int64

In [31]:
df=df.drop(df[df['content_duration']=='0'].index,axis=0)